.poza1 {
border: medium dashed #FF69B4;
height: 125px;
width: 10%;
vertical-align: middle;
}
.poza2 {
border: medium dotted #68B5FF;
height: 125px;
width: 200px;
vertical-align: middle;
}
.poza3 {
border: medium double #35FF97;
height: 10%;
width: 200px;
vertical-align: middle;
}
.poza4 {
border: medium inset #8EC8FF;
height: 125px;
width: 200px;
vertical-align: middle;
}