table {
border: thin solid #EAC800;
}
td {
border: thin solid #EAC800;
}
.margine {
font-weight: bold;
text-align: center;
background-color: #E0FFFF;
}
.mijloc {
text-align: center;
background-color: #CCFFCC;
}